/* Desktop */

@media (width <= 1230px ) {
	.main__container {
		flex-direction: column;
		row-gap: 50px;
	}

	.main__container-left {
		align-self: center;
		flex-direction: row;
		column-gap: 50px;
		order: 1;
	}

	.main__container-right {
		align-self: center;
		flex-direction: row;
		column-gap: 50px;
		order: 1;
	}

	.main__container-center {
		order: 0;
		padding: 0;
	}
}
