/* Base */

.about {
	align-items: center;
	max-width: 100%;
	row-gap: 0;
	margin-bottom: 100px;
}

.about__title-sub {
	color: var(--color-text-secondary);
	align-self: flex-start;
	padding-left: 125px;
}

.about__sub {
	display: flex;
	align-items: center;
}

.about__picture {
	margin-right: 50px;
}

.about__picture-img {
	border-radius: 20px;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.about__sub-container {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}

.about__sub-title {
	text-align: end;
	max-width: 380px;
	align-self: flex-end;
	color: var(--color-text-primary);
	font-weight: normal;
	line-height: 1.25;
}

.about__sub-text {
	color: var(--color-text-secondary);
	max-width: 280px;
	align-self: flex-start;
}
