/* Desktop */

@media (width <= 992px ) {
	.about {
		column-gap: 30px;
		margin-bottom: 50px;
	}

	.about__title {
		font-size: 48px;
		margin-bottom: 30px;
	}

	.about__title-sub {
		padding: 0;
	}

	.about__sub {
		flex-direction: column;
	}

	.about__picture {
		margin: 0;
	}

	.about__picture-img {
		margin-bottom: 30px;
	}

	.about__sub-container {
		row-gap: 30px;
	}

	.about__sub-title {
		text-align: start;
		max-width: 100%;
	}

	.about__sub-text {
		max-width: 100%;
	}
}
