/* Base */

.footer {
	background-color: var(--color-black);
}

.footer__container {
	color: var(--color-white);
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}

.footer__logo {
	display: flex;
	align-items: center;
	column-gap: 25px;
	color: var(--color-white);
}

.footer__logo svg path {
	fill: var(--color-white);
}

.footer__copiright {
	align-self: flex-end;
	color: var(--color-white);
}

.footer__title {
	max-width: 290px;
}
