/* Tablet */

@media (width <= 1030px ) {
	.header__menu {
        position: absolute;
		top: 35px;
		right: 50px;
		left: 15px;
    }

	.menu {
        display: grid;
    }

	.menu__button {
        z-index: 1;
        display: block;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        justify-self: end;
		align-items: center;
    }

	.menu__icon {
        display: block;
        stroke: var(--color-text-primary);
    }

	.menu__icon:hover {
        stroke: var(--color-creator-primary);
    }

    .menu__icon-menu,
    .menu__button--open .menu__icon-cross {
        display: block;
    }

    .menu__icon-cross,
    .menu__button--open .menu__icon-menu {
        display: none;
    }

	.menu__list {
        display: none;
        row-gap: 25px;
        padding: 50px;
    }

    .menu__list--open {
        display: grid;
		grid-auto-flow: row;
		justify-items: center;
		position: fixed;
		top: 102px;
		left: 0;
		width: 100%;
		height: calc(100vh - 102px);
		z-index: 4;
		background-color: var(--color-back-primary);
    }
}
