/* Base */

.social {
	justify-self: end;
}

.social__list {
	display: flex;
	column-gap: 30px;
}

.social__link svg path {
	fill: var(--color-text-secondary);
}

.social__link:hover svg path {
	fill: var(--color-creator-primary);
	transition: all 0.2s linear;
}
