/* Base */

.contacts__list {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.contacts__item {
	display: flex;
	align-items: center;
}

.contacts__link {
	color: var(--color-text-secondary);
	display: flex;
	column-gap: 15px;
	align-items: center;
}

.contacts__link svg path {
	fill: var(--color-text-secondary);
}

.contacts__link:hover {
	color: var(--color-creator-primary);
	transition: all 0.2s linear;
}

.contacts__link:hover svg path {
	fill: var(--color-creator-primary);
	transition: all 0.2s linear;
}
